{% macro form_section(title, icon="bx bxs-info-circle", collapsed=False, id="") %}
<div class="form-section collapsible {% if collapsed %}collapsed{% endif %}" {% if id %}id="{{ id }}"{% endif %}>
    <div class="collapsible-header form-section-header" {% if collapsed %}data-collapse-toggle{% endif %}>
        <div class="collapsible-title">
            <i class="{{ icon }} form-section-icon text-xl"></i>
            <span class="form-section-title">{{ title }} </span>
        </div>
    </div>

    <div class="collapsible-body" aria-hidden="true">
        {{ caller() }}
    </div>
</div>
{% endmacro %}

