{% from 'admin/macros/cards.html' import render_card %}
{% from 'admin/macros/empty_states.html' import render_empty_state %}
{% from 'admin/macros/buttons.html' import render_link_button %}

<div class="mb-4">
    {% call render_card(header="Recent Products", header_description="First glance at the most recently created products.") %}
        {% if recent_products %}
            <div class="mb-6 overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 border-b border-gray-200">
                        <tr>
                            <th scope="col" class="px-6 py-3">Name</th>
                            <th scope="col" class="px-6 py-3">Price ({{ GENERAL_SETTINGS["currency"] }})</th>
                            <th scope="col" class="px-6 py-3">Categories</th>
                            <th scope="col" class="px-6 py-3">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in recent_products %}
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 transition-colors">
                                <td scope="row" class="px-6 py-4 text-gray-900">
                                    <div>
                                        <div class="text-base font-semibold">{{ product.name }}</div>
                                        <div class="font-normal text-gray-500 uppercase text-xs">ID: {{ product.id }}</div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 text-gray-900">
                                    {{ format_monetary_value(product.selling_price) }}
                                </td>
                                <td class="px-6 py-4 text-gray-900">
                                    {% if product.categories %}
                                        {% for product_cat in product.categories %}{{ product_cat.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                                    {% else %}
                                        —
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 text-gray-900">
                                    <div>
                                        <div class="text-base font-semibold capitalize">{{ product.pub_status }}</div>
                                        <div class="font-normal text-gray-500 text-xs">{{ product.created_at.strftime('%b %d, %Y - %I:%M %p') }}</div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="flex justify-end">
                {{ render_link_button("View all products", "#", "outline", "sm") }}
            </div>
        {% else %}
            {{ render_empty_state(
                title="No products yet",
                description="There are no products on your store yet.",
                icon="bx bx-package",
                action_text="Add New Products",
                action_url="#"
            ) }}
        {% endif %}
    {% endcall %}
</div>