{% from 'admin/macros/cards.html' import render_card %}
{% from 'admin/macros/empty_states.html' import render_empty_state %}
{% from 'admin/macros/buttons.html' import render_link_button %}

<div class="mb-4">
    {% call render_card(header="Recent Orders", header_description="First glance at the most recent orders on your website.") %}
        {% if recent_orders %}
            <div class="mb-6 overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 border-b border-gray-200">
                        <tr>
                            <th scope="col" class="px-6 py-3">ID Number</th>
                            <th scope="col" class="px-6 py-3">User</th>
                            <th scope="col" class="px-6 py-3">Total Amount</th>
                            <th scope="col" class="px-6 py-3">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in recent_orders %}
                            <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 transition-colors">
                                <td scope="row" class="px-6 py-4 text-gray-900">
                                    <div>
                                        <div class="text-base font-semibold">#{{ order.order_number }}</div>
                                        <div class="font-normal text-gray-500 uppercase text-xs">ID: {{ order.id }}</div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 text-gray-900">
                                    {{ order.app_user.email }}
                                </td>
                                <td class="px-6 py-4 text-gray-900">
                                    {{ format_monetary_value(order.total_amount) }}
                                </td>
                                <td class="px-6 py-4 text-gray-900">
                                    <div>
                                        <div class="text-base font-semibold capitalize">{{ order.status }}</div>
                                        <div class="font-normal text-gray-500 text-xs">{{ order.created_at.strftime('%b %d, %Y - %I:%M %p') }}</div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <div class="flex justify-end">
                {{ render_link_button("View all orders", "#", "outline", "sm") }}
            </div>
        {% else %}
            {{ render_empty_state(
                title="No orders yet",
                description="There are no orders on your store yet."
            ) }}
        {% endif %}
    {% endcall %}
</div>